@import url('https://fonts.googleapis.com/css?family=Proxima+Nova:regular,bold,italic&subset=latin,latin-ext');

.Perfil {    
    border: 1.5px solid #3BAEA2;
    box-sizing: border-box;
    border-radius: 9px;
    text-align: center;
}

.Perfil-name {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    /* Roxo */
    color: #A92B87;
}

#foto {
    border-radius: 50%;
}

.Perfil-espec {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    
    color: #3BAEA2;    
}

.Perfil-reg {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
    color: #B6B9B9;
    
}

.Perfil-pipe {
    font-weight: bold;
    text-align: center;
    
    color: #A92B87;
    
}

.Perfil-local {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    
    color: #404040;
}

button {
    background-color: #3BAEA2;
    border: none;
    color: #FFFFFF;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}